<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auttaa | Home</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h1 class="cover-heading title">Auttaa</h1>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">Heroes among us.</h1>
                <p class="lead">We develop service that helps quickly and easily to inform the community that you need help. By tapping the icon on your device you identify your location and people nearby get notification that you are in trouble.</p>
                <p class="lead">
                    <input type="text" class="col-lg-9" placeholder="Search" />
                    <a href="#" class="btn btn-success">Get early access</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>© Auttaa 2014. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
</body>
</html>